.lm_header {
    background-color: whitesmoke;
}

.lm_content {
    background-color: white;
}

.lm_tab{
    display: none;
}

.lm_content::-webkit-scrollbar {
    width: 0px;
}

#simulation_detail_view{
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    display: block;
    position: absolute;
    top:0;
    z-index:100;
}